.App {
  text-align: center;
}

.App-intro {
  font-size: large;
  padding: 100px;
}

.App-input {
  border: 1px solid gray;
  font-size: 20px;
  padding: 20px;
}

.App-link {
  border: 1px solid gray;
  font-size: 20px;
  padding: 20px;
  margin-top: 40px;
  display: block;
}
